{% extends 'base.html' %}

{% block topbar %}
    <span class="page-title">홈</span>
{% endblock %}

{% block content %}
    {% load static %}

    <div class="row m-4">
        <div class="col">
            <div class="text-lg font-weight-bold">
                2021 아시아경제 디지털 핵심 실무인재 양성과정 최종 프로젝트
            </div>
        </div>
    </div>

    <div class="row m-4 pb-4">
        <div class="col-xl-6">
            <div class="font-weight-bold text-big-4 pb-4" style="line-height: 1.3">
<!--                자연어처리 기반-->
<!--                <br>-->
                로그 분석을 통한
                <br>
                시스템 보안 위험도
                <br>
                AI 예측 서비스
            </div>
            <div class="text-m">
                아날로그였던 계측·제어시스템이 디지털 시스템으로 변화하면서 사이버 테러라는 새로운 위협에 직면하게 되었습니다.
                예측하기 어려운 신·변종 공격과 함께 자동화 기술을 활용한 대규모 공격으로 기존 보안 솔루션으로는 대응이 어려워지고 있습니다.
                사이버 공격의 규모와 복잡도가 증가함에 따라 신속하고 정확한 대처가 필수가 되었고,
                이런 문제를 해결하는 방안으로 인공 지능(AI)은 현재 크게 주목받고 있습니다.
                이에 Log In&Out 팀은 보안의 핵심인 로그데이터의 위험도를 분석하는 서비스를 설계했습니다.
                저희의 로그데이터 분석 서비스는 기존 0~6단계로 이루어진 위험도뿐만 아니라 새로운 형태의 로그데이터를 감지해낼 수 있습니다.
                <br>
                <br>
                최종적으로 Log In&Out팀은 수많은 로그데이터의 위험도 분류 대응시간을 현저히 줄이는 즉각적인 인사이트와
                신종 사이버 공격 로그를 감지해낼 수 있는 시스템을 제공하며
                Dacon의 "로그 분석을 통한 보안 위험도 예측 AI 경진대회"에 참가하여 4위를 수상했습니다.

            </div>
        </div>
        <div class="col-xl-6">
            <div class="row justify-content-md-center m-2">
                <img class="card-img" src="{% static 'image/main.jpeg' %}" alt="메인 사진">
            </div>
        </div>
    </div>

    <div class="row m-4 p-4"></div>

    <div class="row justify-content-md-center py-4">
        <div class="h1 font-weight-bold">
            서비스 안내
        </div>
    </div>
    <div class="row justify-content-md-center m-4 pb-4">
        <div class="col-xl-2 col-md-4 text-center px-4">
            <div class="mb-2">
                <i class="fas fa-fw fa-chart-pie text-big-4"></i>
            </div>
            <span class="text-lg font-weight-bold">
                데이터 시각화
            </span>
            <br>
            <span class="text-m">
                Dacon에서 제공한 47만여 건의 로그 데이터를 다양한 관점에서 분석했습니다.
            </span>
        </div>
        <div class="col-xl-2 col-md-4 text-center px-4">
            <div class="mb-2">
                <i class="fas fa-fw fa-database text-big-4"></i>
            </div>
            <span class="text-lg font-weight-bold">
                모델링
            </span>
            <br>
            <span class="text-m">
                모델 버전에 따른 검증 결과와 Dacon 순위 변화 그래프를
                <br>
                제공합니다.
            </span>
        </div>
        <div class="col-xl-2 col-md-4 text-center px-4">
            <div class="mb-2">
                <i class="fas fa-fw fa-chart-bar text-big-4"></i>
            </div>
            <span class="text-lg font-weight-bold">
                위험도 예측
            </span>
            <br>
            <span class="text-m">
                검증 결과가 가장 우수한 모델을 기반으로 로그의 위험도를
                <br>
                예측합니다.
            </span>
        </div>
    </div>

    <div class="row m-4 p-4"></div>

{% endblock %}
